@charset "UTF-8";

body{
    background-color: rgb(61, 60, 60);
    font: normal 15pt Arial;
}

header{
    color: rgb(216, 82, 82);
    text-align: center;
}

input{
    outline: none;
    margin-left: 5px;
}

div{
    margin-top: 10px;
}

select#seltab{
    outline: none;
}

option{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 15px rgb(27, 27, 27);
}

footer{
    color: white;
    text-align: center;
    margin-top: 15px;
}